body {
  background-color: #FEF5ED;
  color: #191A19;
  font-family: Comfortaa;
  border: 5px solid;
  border-color: #99A799;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 2em;
}


p {
  Display: block;
  width: 45%;
  margin: 100px auto;
  border: 0.1% solid #ADC2A9;
  box-shadow: 0 0 10px #D3E4CD;
}


h2 {
text-align: center;
}

.ul {
  list-style-type: square;
  Display: block;
  background: #ADC2A9;
  width: 50%;
  margin-left: 400px;
  padding: 60px;
  width: 290px;
}

li {
  width: 100%;
  height: 30px;
  background: #FEF5ED;
  margin: 10px;
}

img {
  display: block;
  background: #99A799;
  width: 360px;
  height: auto;
  margin: 45px auto;
  padding: 80px;
}
